@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body{
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items:center;
  margin: 20px;
  background-color: #020617;
  color: #64748b;
}

.container{
  margin: 20px 0px;
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  background-color: #1e293b;
  border-radius: 8px;  
}

.button{
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
}

.word{
  flex-basis:80%;
  text-align: center; 
  text-transform:uppercase;
  cursor: text;
}

.buttonyes{
  flex-basis: 20%;
  background-color: #84cc16;
}

.buttonmaybe{
  flex-basis: 30%;
  background-color: #0369a1;
}

.buttonno{
  flex-basis: 20%;
  background-color: #dc2626;
}

.buttoncorrect{
  flex-basis: 35%;
  background-color: #fbbf24;
}

.buttonabort{
  flex-basis: 30%;
  background-color: #171717;
  color: rgb(182, 182, 182);
}

.buttonrestart{
  flex-basis: 35%;
  background-color: #475569;
}
